/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo da página */
body {
    background-color: #e6f0ff; /* azul bem claro */
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

/* Título principal */
h1 {
    color: #003366; /* azul escuro */
    margin-bottom: 10px;
}

/* Subtítulos */
h2 {
    color: #0055aa;
    margin-top: 15px;
}

/* Texto */
p {
    text-align: center;   /* centraliza o texto */
    max-width: 600px;     /* limita a largura */
    margin: 10px auto;
}

/* Links */
a {
    color: #cc0000; /* vermelho */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Lista */
li {
    color: #222;
    margin: 5px 0;
}

a {
    display: block;
    margin: 5px 0;
}